<div class="page-container">
    <div class="feature-image-container">
        <img src="/assets/images/feature-images/chocolate-macaron.JPG" class="feature-image" />
        <div class="caption">Chocolate macaron cake</div>
    </div>
    <div class="feature-image-container">
        <img src="/assets/images/feature-images/white-choc-raspberry.JPG" class="feature-image" />
        <div class="caption">White choc raspberry cake</div>
    </div>
    <div class="feature-image-container">
        <img src="/assets/images/feature-images/ginger-crunch.JPG" class="feature-image" />
        <div class="caption">Ginger crunch</div>
    </div>
    <div class="feature-image-container">
        <a href="/recipes/chocolate-chunk-cookies">
            <img src="/assets/images/feature-images/choc-chunk-cookies.JPG" class="feature-image" />
            <div class="caption">Choc chunk cookies</div>
        </a>
    </div>
</div>