<app-page-container>
  <ng-container *ngIf="(recipe$ | async) as recipe">
    <div class="admin-button-container">
      <app-button>Edit post</app-button>
      <app-button-stroked (click)="openDialog()">Delete</app-button-stroked>
    </div>
    <div>
      <h2>{{recipe.title}}</h2>
    </div>
    <p>By {{recipe.author}} ⦁ Published {{recipe.publishDate | date:"MMM dd yyyy" }}</p>
    <app-button icon="expand_more">Jump to recipe</app-button>
    <p>
      {{recipe.intro}}
    </p>
    <img [src]="recipe.heroImageUrl" class="recipe-hero-image" />
    <p>
      {{recipe.body}}
    </p>
    <hr>
    <img
      [src]="recipe.printImageUrl"
      class="recipe-card-image"
    />
    <h4 id="recipe">{{recipe.title}}</h4>
    <app-rating></app-rating>
    <app-preparation></app-preparation>
    <div class="button-container">
      <app-button icon="print">Print recipe</app-button>
      <app-button icon="share">Share recipe</app-button>
    </div>
    <app-ingredients></app-ingredients>
    <app-method></app-method>
    <app-tags></app-tags>
    <app-social-media-call></app-social-media-call>
    <hr>
    <app-recipe-comment-section></app-recipe-comment-section>
  </ng-container>
</app-page-container>
