<app-page-container>
  <ng-container *ngIf="(blogPosts|async) as blogPost">
    <div class="admin-button-container">
      <app-button>Edit post</app-button>
      <app-button-stroked (click)="openDialog()">Delete</app-button-stroked>
    </div>
    <h2>{{blogPost.title}}</h2>
    <p>{{blogPost.author}} ⦁ Published {{blogPost.date}}</p>
    <app-button icon="expand_more">Jump to recipe</app-button>
    <p>{{blogPost.intro}}</p>
    <img [src]="blogPost.heroImage" class="recipe-hero-image" />
    <p>{{blogPost.body}}</p>
    <hr>
    <img [src]="blogPost.printImage" class="recipe-card-image"/>
    <h4 id="recipe">{{blogPost.title}}</h4>
    <app-rating></app-rating>
    <app-preparation [prepTime]="blogPost.prepTime" [cookTime]="blogPost.cookTime" [quantitySizeMade]="blogPost.quantitySizeMade"></app-preparation>
    <div class="button-container">
      <app-button icon="print">Print recipe</app-button>
      <app-button icon="share">Share recipe</app-button>
    </div>
    <app-ingredients [ingredients]="blogPost.inredients"></app-ingredients>
    <app-method [method]="blogPost.method"></app-method>
    <app-tags [tags]="blogPost.tags"></app-tags>
    <app-social-media-call></app-social-media-call>
    <hr>
    <app-recipe-comment-section></app-recipe-comment-section>
  </ng-container>
</app-page-container>
