<!-- <LocationPath Path="/recipes/chocolate-chunk-cookies"/> -->
<div class="page-container">
    <div class="page-content-container">
        <h2>Chocolate chunk cookies</h2>
        <p>
            By Felicity ⦁ Published Aug 25 2022
        </p>
        <app-button icon="expand_more">Jump to recipe</app-button>
        <p>
            The most wonderful gluten free cookie recipe that you’ll keep in your repitoire for years to come.
            Ditch the rest, this is the only one you’ll ever need!
        </p>
        <img src="/assets/images/feature-images/6.jpg" class="recipe-hero-image" />
        <p>
            This recipe eventuated from endless hours of researching the science behind the humble chocolate chip
            cookie. Brown sugar and melted butter for chew, an extra egg yolk to keep the cookie fudgy, chopping the
            chocolate into chunks and flakes for little pockets of melted goodness, and on and on and on. Who would have
            thought it's all so technical?! What makes it even more complex is converting it to being gluten free! Let's
            just say that there were many many failures in testing.
        </p>
        <p>
            Yes I know that the ingredient list is rather long but trust me, it is well worth the effort to get the
            perfect gluten free cookie.
        </p>
        <p>
            Chilling the dough overnight is another must! Now get baking so you can enjoy these glorious little morsels.
        </p>
        <hr>
        <img src="/assets/images/feature-images/choc-chunk-cookies.JPG" class="recipe-card-image">
        <h4 id="recipe">Chocolate chunk cookies</h4>
        <app-rating></app-rating>
        <div class="button-container">
            <app-button icon="print">Print recipe</app-button>
            <app-button icon="share">Share recipe</app-button>
        </div>
        <app-preparation></app-preparation>
        <app-ingredients></app-ingredients>
        <app-method></app-method>
        <app-tags></app-tags>
        <app-social-media-call></app-social-media-call>
        <hr>
        <app-recipe-comment-section></app-recipe-comment-section>
    </div>
</div>


