<div class="header-container">
    <div class="header-content-container">
        <div class="logout-container">
            <app-button (click)="openDialog()" *ngIf="showLogout">Log out</app-button>
        </div>
        <div class="search-container input-search-background input-no-padding">
            <mat-form-field appearance="outline">
              <input
                type="text"
                placeholder="Search"
                matInput
                [formControl]="recipeSearchControl"
                [matAutocomplete]="auto"
              />
              <mat-icon matSuffix>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let recipe of filteredRecipes | async"
                  [value]="recipe.title"
                >
                  <a routerLink="/recipes/{{recipe.slug}}">
                      {{ recipe.title }}
                  </a>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
    </div>
</div>


<img class="logo" src="/assets/images/logo.png" />
<div class="menu-container">
    <div class="menu-content-container">
        <div class="menu-button-container">
            <a routerLink="/admin" class="menu-button">Admin home</a>
            <a routerLink="/" class="menu-button">Home</a>
            <a routerLink="/recipes" class="menu-button">Recipe Index</a>
        </div>
    </div>
</div>
