<div class="header-container">
  <div
    class="header-content-container flex flex-col md:flex-row  py-5 m-2 md:m-16"
  >
    <div class="logout-container ml-3.5">
      <app-button (click)="openDialog()" *ngIf="showLogout">Log out</app-button>
    </div>
    <div class="search-container input-search-background input-no-padding">
      <mat-form-field appearance="outline">
        <input
          type="text"
          placeholder="Search"
          matInput
          [formControl]="recipeSearchControl"
          [matAutocomplete]="auto"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let recipe of filteredRecipes | async"
            [value]="recipe.title"
          >
            <a routerLink="/recipes/{{ recipe.slug }}">
              {{ recipe.title }}
            </a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- nav bar for screens larger than small -->
<div class="hidden sm:block">
  <img class="logo" src="/assets/images/logo.png" />
  <div class="menu-container">
    <div class="menu-content-container">
      <div class="menu-button-container">
        <a routerLink="/admin" class="menu-button">Admin home</a>
        <a routerLink="/" class="menu-button">Home</a>
        <a routerLink="/recipes" class="menu-button">Recipe Index</a>
      </div>
    </div>
  </div>
</div>

<!-- nav bar for mobile -->
<div class="flex flex-col items-start sm:hidden mx-5 my-4 gap-6">
  <img class="logo-mobile" src="/assets/images/logo.png" />
  <div>
    <button
      class="text-white cursor-pointer text-xl leading-none  mx-5 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none"
      type="button"
      (click)="toggleNavbar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      class="md:flex md:flex-grow">
        <ul
        class="flex flex-col list-none ml-auto"
        style="text-align: left">
        <li class="nav-item mx-3">
          <a routerLink="/admin" class="menu-button px-3">Admin home</a>
        </li>
        <li class="nav-item mx-3">
          <a routerLink="/" class="menu-button px-3">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a routerLink="/recipes" class="menu-button px-3">Recipe Index</a>
        </li>
        </ul>
    </div>
  </div>
</div>
