<app-page-container>
  <div class="button-container">
    <app-button>Publish</app-button>
    <app-button-stroked (click)="openDialog()">Schedule</app-button-stroked>
    <app-button-stroked>Save draft</app-button-stroked>
  </div>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        placeholder="Give this post a title"
        formControlName="title"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Intro</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        placeholder="Write an intro to your post"
        formControlName="intro"
      ></textarea>
    </mat-form-field>

    <div class="feature-image">
      <mat-card class="image-card">
        <p class="input">Feature image</p>
        <img mat-card-image [src]="preview" />
        <app-button>
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            accept="image/*"
            (change)="selectImage($event)"
          />
          Select image
        </app-button>
      </mat-card>
    </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Body</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        placeholder="Tell people why they should make this recipe"
        formControlName="body"
      ></textarea>
    </mat-form-field>
    <div class="row-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prep time</mat-label>
        <input matInput type="text" formControlName="prepTime" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cook time</mat-label>
        <input matInput type="text" formControlName="cookTime" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Quantity/size made</mat-label>
        <input matInput type="text" formControlName="quantitySizeMade" />
      </mat-form-field>
    </div>
    <div class="recipe-section-header">
      <h4>Ingredients</h4>
      <hr />
    </div>
    <div class="step-container">
      <!-- this represents the inredients that have been added to the recipe -->
      <div
        *ngFor="let control of ingredientControls; let i = index"
        class="row-container"
      >
        <mat-form-field appearance="outline" style="flex-grow: 3">
          <mat-label>Ingredient</mat-label>
          <input matInput type="text" [formControl]="control" />
        </mat-form-field>
        <button mat-icon-button (click)="removeIngredient(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <!-- this represents a new ingredient to be added -->
      <form [formGroup]="ingredientFormGroup" (ngSubmit)="addIngredient()">
        <div class="row-container">
          <mat-form-field appearance="outline" style="flex-grow: 3">
            <mat-label>Ingredient</mat-label>
            <input matInput type="text" formControlName="ingredient" />
          </mat-form-field>
          <button mat-icon-button type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="recipe-section-header">
      <h4>Method</h4>
      <hr />
    </div>
    <div class="step-container">
      <!-- this represents the method steps that have been added to the recipe -->
      <div
        *ngFor="let control of methodControls; let i = index"
        class="row-container"
      >
      {{i+1}}
        <mat-form-field appearance="outline" style="flex-grow: 3">
          <mat-label>Step</mat-label>
          <input matInput type="text" [formControl]="control" />
        </mat-form-field>
        <button mat-icon-button (click)="removeMethodStep(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <!-- this represents a new method step to be added -->
      <form [formGroup]="methodFormGroup" (ngSubmit)="addMethodStep()">
        <div class="row-container">
          <mat-form-field appearance="outline" style="flex-grow: 3">
            <mat-label>Step</mat-label>
            <input matInput type="text" formControlName="step" />
          </mat-form-field>
          <button mat-icon-button type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <hr />
    <form [formGroup]="tagFormGroup">
      <mat-form-field class="tag-list" appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tagsControl.value; let i = index" (removed)="removeTag(i)">
            {{ tag }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)"
            formControlName="tag"
          />
        </mat-chip-list>
      </mat-form-field>
    </form>
  </form>
  <pre>{{ formGroup.value | json }}</pre>
</app-page-container>
