.button-container {
  display: flex;
  justify-content: right;
  gap: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.full-width{
  width: 100%;
}

.tag-list {
  width: 100%;
}

.mat-form-field{
  width: 100%;
}

.feature-image{
  padding-bottom: 20.156px;
}

.image-card{
  max-width: 50%;
  border-radius: 3px;
}

.input{
  font-size: inherit;
  line-height: 1.125;
  font-weight: 400;
  font-family:'Rubik';
  letter-spacing: 1px;
  text-align: left;
}

#fileInput{
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.row-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.recipe-section-header {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.step-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}