.search-container{
    background-color: #e5e5e5;
    opacity: 0.6;
    border-radius: 13px;
    align-content: center;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

.background{
    background-color: white;
}

mat-option a {
  color: black;
  font-size: 15px;
}

:host{
    width: 100%;
}

mat-form-field {
    width: 250px !important;
}