
.recipe-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
fa-icon{
    color: #F8CD00;
}

.rating-input-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}