.preparation-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recipe-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

:host{
    width: 100%;
}