.page-container {
    margin: 150px 105px;
    background-color: white;
    padding: 16px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.feature-image-container {
    position: relative;
    width: 293px;
}

.feature-image {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 20px;
    text-align: center;
    border-radius: 13px;
}