<app-page-container>
    <div class="recipe-search-container">
        <h2>Recipe index</h2>
    </div>
    <app-search-container></app-search-container>
    <ng-container *ngIf="(featuredRecipes | async) as recipes">
        <div class="featured-container">
            <h4>Featured</h4>
            <div class="featured-image-container">
                <app-card *ngFor="let recipe of recipes" 
                        [src]="recipe.heroImage" 
                        href="/recipes/{{recipe.slug}}" 
                        [title]="recipe.title">
            </app-card>
            </div>
        </div>
    </ng-container>
    <app-link-button href="/recipes/all-recipes" trailingIcon="double_arrow">See all recipes</app-link-button>
</app-page-container>
