<app-breadcrumb></app-breadcrumb>

<div class="page-container">
    <div class="page-content-container">
        <div class="recipe-search-container">
            <h2>Recipe index</h2>
        </div>
        <app-search-container></app-search-container>
        <div class="featured-container">
            <h4>Featured</h4>
            <div class="featured-image-container">
                <app-card src="/assets/images/feature-images/ginger-crunch.JPG" href="/recipes/chocolate-chunk-cookies" heading="Ginger crunch"></app-card>
                <app-card src="/assets/images/feature-images/chocolate-macaron.JPG" href="/recipes/chocolate-chunk-cookies" heading="Chocolate macaron cake"></app-card>
                <app-card src="/assets/images/feature-images/white-choc-raspberry.JPG" href="/recipes/chocolate-chunk-cookies" heading="White choc raspberry cake"></app-card>
            </div>
            <app-button trailingIcon="double_arrow">See more</app-button>
        </div>
    </div>
</div>