table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.post-image{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}