<div class="header-container">
    <div class="socials-container">
        <img class="socials-icon" src="/assets/images/facebook.png" />
        <img class="socials-icon" src="/assets/images/instagram.png" />
        <img class="socials-icon" src="/assets/images/pinterest.png" />
    </div>
    <div class="search-container">
        <input class="search-input" type="text" placeholder="Search" />
        <div class="search-icon-container">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
</div>


<img class="logo" src="/assets/images/logo.png" width="300px" />
<div class="menu-container">
    <div class="menu-button-container">
        <a href="/" class="menu-button">Home</a>
        <a href="/recipe-index" class="menu-button">Recipe Index</a>
    </div>
</div>
