<div class="header-container">
    <div class="header-content-container">
        <div class="socials-container">
            <img class="socials-icon" src="/assets/images/facebook.png" />
            <img class="socials-icon" src="/assets/images/instagram.png" />
            <img class="socials-icon" src="/assets/images/pinterest.png" />
        </div>
        <div class="search-container">
                <mat-form-field appearance="outline" >
                    <input placeholder="Search" matInput >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
        </div>
    </div>
</div>


<img class="logo" src="/assets/images/logo.png" />
<div class="menu-container">
    <div class="menu-content-container">
        <div class="menu-button-container">
            <a href="/" class="menu-button">Home</a>
            <a href="/recipes" class="menu-button">Recipe Index</a>
        </div>
    </div>
</div>
