@namespace BlazorApp.Components.RecipePage

<div class="recipe-section-header">
    <h4>Ingredients</h4>
    <hr>
</div>
<div class="recipe-ingredient-container">
    <ul>
        <li>170g unsalted butter</li>
        <li>100g caster sugar</li>
        <li>150g brown sugar</li>
        <li>1 whole egg</li>
        <li>1 egg yolk</li>
        <li>10ml vanilla extract</li>
        <li>2g table salt</li>
        <li>25g cornflour</li>
        <li>100g brown rice flour</li>
        <li>100g white rice flour</li>
        <li>50g tapioca starch</li>
        <li>1g xantham gum</li>
        <li>2g baking powder</li>
        <li>2g baking soda</li>
        <li>200g dark chocolate</li>
        <li>sea salt for sprinkling</li>
    </ul>
</div>