@namespace BlazorApp.Components.RecipePage

<div class="recipe-rating-container">
    <span class="material-symbols-outlined checked filled">star</span>
    <span class="material-symbols-outlined checked filled">star</span>
    <span class="material-symbols-outlined checked filled">star</span>
    <span class="material-symbols-outlined checked filled">star</span>
    <span class="material-symbols-outlined checked filled">star_half</span>
</div>
<p> 4.5 from 13 votes</p>