.recipe-comment-container {
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.recipe-rate-me-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.checked {
    color: #F8CD00;
}

.comment-input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}