<app-page-container>
  <form [formGroup]="formGroup" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label for="email">Email</mat-label>
      <input placeholder="bob@example.com" matInput  type="email" formControlName="email" />
      <mat-error
        *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <app-button type="submit" (click)="loginUser()"> Login </app-button>
    <div *ngIf="showLoginError" class="login-error">Incorrect login details supplied</div>
  </form>
</app-page-container>
