.form-container{
    display: flex;
    flex-direction: column;
    justify-content:left;
    gap: 8px;
    width: 100%;
    text-align: left;
}

mat-form-field{
    width: 250px;
}

.login-error{
    color: #842029;
    background-color: #f8d7da;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #f5c2c7;
}