<app-page-container>
  <h2>All recipes</h2>
  <ng-container *ngIf="allRecipes | async as recipes; else loading">
    <div class="recipe-image-container flex flex-col md:flex-row">
      <app-card
        *ngFor="let recipe of recipes"
        [src]="recipe.heroImage"
        href="/recipes/{{ recipe.slug }}"
        [title]="recipe.title"
      >
      </app-card>
    </div>
  </ng-container>
</app-page-container>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>