<nav>
    <div class="footer-container">
        <div class="footer-copyright">
            <div>
                2022 MODERATION KITCHEN. design by CRAFT-DESIGNS
            </div>
        </div>
    </div>
</nav>