<div class="featured-image-container">
    <div class=featured-image-content>
        <img src="/assets/images/feature-images/cropped-feature-images/choc-chunk-cookies.JPG" class="feature-image" />
        <p>Chocolate chunk cookies</p>
    </div>
    <div class=featured-image-content>
        <img src="/assets/images/feature-images/cropped-feature-images/ginger-crunch.JPG" class="feature-image" />
        <p>Ginger crunch</p>
    </div>
    <div class=featured-image-content>
        <img src="/assets/images/feature-images/cropped-feature-images/white-choc-raspberry.JPG" class="feature-image" />
        <p>White choc raspberry cake</p>
    </div>
</div>