.featured-image-container{
    display: flex;
    gap: 50px;
}

.featured-image-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.feature-image{
    width: 100%;
    height: 100%;
    object-fit:fill;
}