<app-page-container>
  <ng-container *ngIf="(blogPosts|async) as blogPost; else notFound">
    <div class="admin-button-container" *ngIf="showAdminButtons">
      <app-link-button href="/recipes/{{blogPost.slug}}/edit">Edit post</app-link-button>
      <app-button-stroked (click)="openDialog()">Delete</app-button-stroked>
    </div>
    <h2 style="line-height: 1.6;">{{blogPost.title}}</h2>
    <p>By {{blogPost.author}} ⦁ Published {{ blogPost.date | date:"MMM dd yyyy" }}</p>
    <app-button icon="expand_more" (click)="scrollToElement('recipeCard')">Jump to recipe</app-button>
    <p>{{blogPost.intro}}</p>
    <img [src]="blogPost.heroImage" class="recipe-hero-image" />
    <p>{{blogPost.body}}</p>
    <hr id="recipeCard">
    <img [src]="blogPost.heroImage" class="recipe-card-image"/>
    <h4>{{blogPost.title}}</h4>
    <app-rating [rating]="blogPost.rating"></app-rating>
    <app-preparation [prepTime]="blogPost.prepTime" [cookTime]="blogPost.cookTime" [quantitySizeMade]="blogPost.quantitySizeMade"></app-preparation>
    <app-ingredients [ingredients]="blogPost.ingredients"></app-ingredients>
    <app-method [method]="blogPost.method"></app-method>
    <app-tags [tags]="blogPost.tags"></app-tags>
    <app-social-media-call></app-social-media-call>
    <hr>
    <app-recipe-comment-section [title]="blogPost.title" [comments]="blogPost.comments" (commentSubmittedEvent)="onSubmitComment($event)"></app-recipe-comment-section>
  </ng-container>
</app-page-container>
<ng-template #notFound>
  <p>Sorry, we couldn't find the page you were looking for. <a href="/">Click here to return home.</a> </p>
</ng-template>

