<app-page-container class="hidden sm:block">
    <div class="home-container">
        <ng-container *ngIf="(featuredRecipes | async) as recipes; else loading">
            <div class="feature-image-container" *ngFor="let recipe of recipes">
                <a routerLink="/recipes/{{recipe.slug}}">
                    <img [src]="recipe.heroImage"  class="feature-image"/>
                    <div class="caption">{{recipe.title}}</div>
                </a>
            </div>
        </ng-container>
    </div> 
</app-page-container>

<app-page-container class="sm:hidden">
    <!-- mobile feature images -->
    <div class="mobile-home-container flex flex-col">
        <ng-container *ngIf="(featuredRecipes | async) as recipes; else loading">
            <div class="mobile-feature-image-container" *ngFor="let recipe of recipes">
                <a routerLink="/recipes/{{recipe.slug}}">
                    <img [src]="recipe.heroImage"  class="mobile-feature-image"/>
                    <div class="caption">{{recipe.title}}</div>
                </a>
            </div>
        </ng-container>
    </div>
</app-page-container>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>