.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}

.mobile-home-container {
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.feature-image-container {
    position: relative;
    width: 25%;
}

.mobile-feature-image-container {
    position: relative;
    width: 100%;
}

.feature-image {
    width: 100%;
    object-fit: cover;
    height: 480px;
}

.mobile-feature-image {
    object-fit: cover;
    height: 366px;
    width: 366px;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    font-weight: 100;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: ease 0.5s;
}

.caption:hover{
    background-color: rgba(255, 255, 255, 1);
}

a:link, a:visited, a:link:active, a:visited:active {
    color: black;
    cursor: pointer;
  }

