.container{
    margin: 0px 105px;
}

.page-container {
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.feature-image-container {
    position: relative;
    width: 293px;
}

.feature-image {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    font-weight: 100;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: ease 0.5s;
}

.caption:hover{
    background-color: rgba(255, 255, 255, 1);
}

a:link, a:visited, a:link:active, a:visited:active {
    color: black;
    cursor: pointer;
  }
  