.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .button-opacity {
    opacity: 0.6;
    text-transform: uppercase;
  }
  
  .button-opacity:hover {
    color: #A36A72
  }
  
  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #442B2D;
  }