.social-media-call-container {
    background-color: rgb(255, 219, 207, 0.6);
    border-radius: 13px;
    // width: calc(100% - 40px);
    align-content: center;
    padding: 20px;
    gap: 16px;
    width: 100%;
}

.social-media-call-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-call-logo {
    object-fit: cover;
    max-width: 120px;
    max-height: 120px;
}
