<div class="social-media-call-container flex-row hidden md:flex">
    <div class="logo-container">
        <img src="assets/images/logo.png" class="social-media-call-logo"/>
    </div>
    <div class="social-media-call-text-container">
        <h3>Let me know if you made this recipe</h3>
        <div style="text-align: left;">Tag <b>@ModerationKitchen</b> on Instagram and hashtag it <b>#MODERATIONKITCHEN</b></div>
    </div>
</div>

<!-- mobile social media call -->
<div class="social-media-call-container flex flex-col md:hidden ">
    <div class="logo-container">
        <img src="assets/images/logo.png" class="social-media-call-logo"/>
    </div>
    <div class="social-media-call-text-container">
        <h3 style="text-align: center;">Let me know if you made this recipe</h3>
        <div>Tag <b>@ModerationKitchen</b> on Instagram and hashtag it <b>#MODERATIONKITCHEN</b></div>
    </div>
</div>