<app-page-container>
    <div class="recipe-search-container flex flex-col">
        <h2>Recipe index</h2>
    </div>
    <app-search-container [tags]="tags | async"></app-search-container>
    <ng-container *ngIf="(featuredRecipes | async) as recipes; else loading">
        <div class="featured-container flex flex-col">
            <h4 class="text-center md:text-left">Featured</h4>
            <div class="featured-image-container flex flex-col md:flex-row">
                <app-card *ngFor="let recipe of recipes"
                        [src]="recipe.heroImage"
                        href="/recipes/{{recipe.slug}}"
                        [title]="recipe.title">
            </app-card>
            </div>
        </div>
    </ng-container>
    <app-link-button href="/recipes/all-recipes" trailingIcon="double_arrow">See all recipes</app-link-button>
</app-page-container>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
