h4 {
    width: 100%;
    margin-bottom: 10px;
}

.recipe-search-container{
    align-items: center;
    gap: 40px;
    width: 100%;
}

.featured-container{
    gap: 20px;
    width: 100%;

}

.featured-image-container{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
}