<div class="recipe-comment-container">
  <h3>Leave a reply</h3>
  <p>Your email address will not be published. Required fields are marked *</p>
  <div class="comment-input-container">
    <form [formGroup]="formGroup">
      <p>Rate this recipe</p>
      <app-rating-input formControlName="rating"></app-rating-input>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="comment"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required="true" formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required="true" formControlName="email"/>
        <mat-error
          *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <app-button type="submit" (click)="submitComment()">
        Submit comment
    </app-button>
  </div>
  <div class="comment-section">
    <h3>1 comment on "Chocolate chunk cookies"</h3>
    <hr />
    <div *ngFor="let comment of comments" class="comments">
      <p>
        {{ comment.name }} ⦁ {{ comment.date | date:'MMMM dd yyyy' }} ⦁
        <i>I gave this recipe {{ comment.rating }} out of 5 stars</i>
      </p>
      <p>{{ comment.comment }}</p>
    </div>
  </div>
</div>
