<div class="recipe-comment-container">
    <h3>Leave a reply</h3>
    <p>Your email address will not be published. Required fields are marked *</p>
    <p>Rate this recipe</p>
    <app-rating-input></app-rating-input>
    <div class="comment-input-container">
        <form>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput cdkTextareaAutosize></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput required="true">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required="true">
            </mat-form-field>
            <mat-checkbox>Save my name, email, and website in this browser for the next time I comment</mat-checkbox>
        </form>
        <app-button>Submit comment</app-button>
    </div>
    <h3>1 comment on "Chocolate chunk cookies"</h3>
    <hr>
    <p>HEATHER I. ⦁ OCTOBER 26, 2022</p>
    <p>I love refrigerating my dough, too. These cookies look amazing. I'm trying these out very soon.</p>
</div>
