@inherits LayoutComponentBase
@using MatBlazor;
@using BlazorApp.Components;

<MatThemeProvider Theme="@theme">
    <header>
        <NavMenu />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <Footer />
</MatThemeProvider>

@code
{
    MatTheme theme = new MatTheme()
    {
        Primary = "#A36A72",
        Secondary = "#DEC2BA",
    };
}