@using MatBlazor;

<nav>
    <div class="header-container">
        <div class="socials-container">
            <img class="socials-icon" src="/assets/images/facebook.png" />
            <img class="socials-icon" src="/assets/images/instagram.png" />
            <img class="socials-icon" src="/assets/images/pinterest.png" />
        </div>
        <div class="search-container">
            <input class="search-input" type="text" placeholder="Search" />
            <div class="search-icon-container">
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
    </div>
</nav>

<img class="logo" src="/assets/images/logo.png" width="300px" />
<div class="menu-container">
    <div>
        <MatButton Style="height: 58px">Home</MatButton>
        <MatButton Style="height: 58px">Recipe Index</MatButton>
    </div>
</div>





@code {
    public string SearchQuery { get; set; } = "";
}
