.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-container{
    width: 100%;
}

::ng-deep.mat-form-field-wrapper{
    padding-bottom: 16px;
}
