.location-path-container {
    display: flex;
    width: max-content;
    align-items: center;
    background-color: #A36A72;
    border-radius: 5px 5px 0px 0px;
    height: 50px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    color: rgb(255, 255, 255, 0.87);
    margin: 0px;
    font-weight: 500;
}

ul.breadcrumb li {
    display: inline;
    margin: 0px;
    text-transform: uppercase;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #84565E;
    content: ">";
}

ul.breadcrumb li a {
    color: rgb(255, 255, 255, 0.87);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #FFDBCF;
    text-decoration: none;
}

