<div class="header-container">
    <div class="header-content-container">
        <div class="logout-container">
            <app-button (click)="openDialog()">Log out</app-button>
        </div>
        <div class="search-container">
                <mat-form-field appearance="outline" >
                    <input placeholder="Search" matInput >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
        </div>
    </div>
</div>


<img class="logo" src="/assets/images/logo.png" />
<div class="menu-container">
    <div class="menu-content-container">
        <div class="menu-button-container">
            <a href="/" class="menu-button">Home</a>
        </div>
    </div>
</div>
